

<% stylesheetHead 'bootstrap.min' %>
<% stylesheetHead 'font-awesome.min' %>
<% stylesheetHead 'ionicons.min' %>
<% stylesheetHead 'jquery.multiselect' %>
<% stylesheetHead 'jqgrid_style/ui.jqgrid' %>
<% stylesheetHead 'jquery-ui' %>
<% stylesheetHead 'AdminLTE' %>
<% stylesheetHead 'custom_popup' %>


<% content_for :head_javascript_section do %>
  <style>
      table#example1 tbody tr td:first-child a{
          color:skyblue;
      }

      #fbox_example1 table tbody tr td.columns select{
          max-width:160px;
      }

  </style>
  <script type='text/javascript'>
    $(document).ready(function () {

        $("#example1 tr td:first-child a").click(function (e) {

            e.preventDefault();
            $("#ExamDetailPopupDiv").modal('show');
        });

    });
  </script>
<% end %>

<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side"> 
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1> Search<small>Preview</small> </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Search</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div id="RowForSearchCriteria" class="row"> 
            <!-- left column --> 

            <!-- right column -->
            <div class="col-md-6"> 
                <!-- general form elements disabled -->
                <div class="box box-warning"> 
                    <!-- <div class="box-header">
                                            <h3 class="box-title">General Elements</h3>
                                        </div> --><!-- /.box-header -->
                    <div class="box-body">
                        <div id="SearchCriteriaContainerDiv">
                          <p> 
hello world
</p>
<div>

    <p>Now data</p>
    <%=@mysdk.to_json %>
    <% if @mysdk.size < 0 %>
     <%= harbinger_table_for @mysdk, :class => "table table-striped" do |ht| %>
    <% ht.column("MRN") {|e| e.patientMrn.mrn if e.patientMrn } %>
    <% ht.column("Accession") {|e| e.patientMrn.mrn if e.patientMrn } %>
    <% ht.column("Current Status") {|e| e.currentStatus.universalEventTypeId ? "#{e.currentStatus.universalEventType.eventType} (#{e.currentStatus.status})" : e.currentStatus.status } %>
    <% ht.column("Procedure Code") {|e| e.procedure.code if e.procedure } %>
    <% ht.column("Procedure Description") {|e| e.procedure.description if e.procedure  } %>
  <% end %>
<% else %>
 No exams.
<% end %>
 </br></hr>
  <%  @mysdk.each  do |e| %>
     <%=e.patientMrn.mrn  %>,
 <%=e.currentStatusId %>,
     <%=e.currentStatus.universalEventType.eventType%>,
      <%= e.procedure.code unless e.procedure.nil? %>,     
     <%= e.procedure.description unless e.procedure.nil? %>,
     <%= e.resource.modality.modality unless e.resource.nil? %>,
     <%= e.resource.name unless e.resource.nil? %>,
     <%= e.updatedAt unless e.updatedAt.nil? %>,
     <%= e.patient.name unless e.patient.nil? %>,
     <%= e.patient.birthdate unless e.patient.nil? %>,
     <%= e.site.site unless e.site.site.nil? %>,
     <%= e.siteClass.siteClass unless e.siteClass.nil? %>,
     <%= e.siteClass.trauma unless e.siteClass.nil?%>,
     <%=e.siteClass.patientType.patientType unless e.siteClass.nil?%>,
     
     <%=   (e.siteSublocation.siteLocation.location unless e.siteSublocation.nil?)  
     + (e.siteSublocation.siteLocation.room unless e.siteSublocation.nil? )
      + (e.siteSublocation.siteLocation.bed unless e.siteSublocation.nil?) %>
   
 </br></hr>
  <%end%>
</div>
                        </div>
                    </div>
                    <!-- /.box-body --> 
                </div>

                <!-- /.box --> 
            </div>
            <!--/.col (right) --> 
        </div>
        <!-- /.row --> 

       

    </section>
    <!-- /.content --> 
</aside>
<!-- /.right-side --> 
<!-- /.right-side --> 
</div>
<!-- ./wrapper --> 





<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>-->

<% javascriptBody 'jquery.min.js' %>
<% javascriptBody 'bootstrap.min' %>

<% javascriptBody 'jquery-ui-1.10.3.min' %>
<% javascriptBody 'jquery.multiselect' %>

<% content_for :body_javascript_section do %>
  <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>

<% end %>  
<!-- End of :body_javascript_section -->



